[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = { version = "*", extras = ["dotenv", "email"] }
opyrator = { version = "*", extras = [] }                  #["dev"]
streamlit = ">=0.72,<1.4.0"
typing-utils = "*"

[dev-packages]
pytest = "*"
black = ">=20.0.0,<22.3.0"
ipython = "*"
click = ">8.0.0"

[requires]
python_version = "^3.6"

[pipenv]
allow_prereleases = false
